<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>briexapi | <%= title %></title>
  <link rel="stylesheet" href="../css/style.css" />
</head>
<body class="dark">
  <main class="main">
    <h1>briexapi</h1>
    <form class="form" action="">
      <label for="password">New Password</label>
      <input type="password" name="password" required>
      <label for="passwordConfirmation">Confirm Password</label>
      <input type="password" name="passwordConfirmation" required>
      <div class="flash-msg hidden"></div>
      <button type="submit" id="reset" class="btn btn-custom">Reset My Password</button>
    </form>
  </main>
  <script>
    document.querySelector("#reset").addEventListener("click", async (e) => {
      e.preventDefault();
      let password = document.querySelector("input[name=password]").value;
      let passwordConfirmation = document.querySelector("input[name=passwordConfirmation]").value;

      let data = {
        oldPassword: "<%= oldPassword %>",
        password,
        passwordConfirmation
      }
      const resp = await fetch("/reset-password", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
      });
      if (resp.status === 200) {
        flashMsg("success-msg", await resp.text());
      } else {
        flashMsg("error-msg", await resp.text());
      }
    });
    function flashMsg(type, text) {
      const div = document.querySelector(".flash-msg");
      div.classList.remove("hidden");
      div.classList.add(type);
      div.textContent = text;
    }
  </script>
  <script src="../js/main.js"></script>
</body>
</html>